{% extends "base.html" %} {% comment %} Aqui especificamos de que template heredará los elementos 
e inyectará lo definido en este apartado, como si tomara una plantilla para renderizar. {% endcomment %}
<script src="https://kit.fontawesome.com/d2b20da030.js" crossorigin="anonymous"></script>
{% load static %}


{% block head_content %} {% comment %} Actuan como si se definieran clases. {% endcomment %}
    <title>Platzigram feed</title>
{% endblock  %}

{% block container %} {% comment %} Apartado para desplegar los posts creados por los usuarios. {% endcomment %}
    <div class="container col-sm-12 col-md-6"> {% comment %} las "class" es sintaxis de "BOOTSTRAP", {% endcomment %}
        <div class="row d-flex justify-content-center ">
            {% for post in post %}
                
                <div class="d-block col-sm-12 col-md-10 post-container ">
                    <div class="media pt-3 pl-3 pb-1">
                        
                        <a href="{% url "users:detail" post.user.username %}">
                            {% if post.profile.picture %}
                                <img class="mr-3 rounded-circle" height="35" src="{{ post.profile.picture.url }}" alt="{{ post.user.get_full_name }}" >
                            {% else %}
                                <img class="mr-3 rounded-circle" height="35" src="{% static 'img/default-profile.png' %}" alt="{{ post.user.get_full_name }}" >
                            {% endif %}
                            
                        </a>
                        
                        <div class="media-body">
                            <p style="margin-top:5px;">{{ post.user.get_full_name }}</p>
                        </div>
                    </div>
                    <a href="{% url "posts:detailPost" post.id %}">
                        <img  style="width: 100%; height: 400px; object-fit: cover;" src="{{ post.photo.url }}" alt="{{ post.title }}">
                    </a>
                    {#<h6 class="ml-1 mt-1">{{ post.title }}</h6> #}
                    <p class="mt-1 mb-1 ml-2">
                        <a href="{% url "posts:postLike" post.id %}" class="text-decoration-none" style="color: #000; font-size: 30px;">
                            {% if post.id in liked_posts %}
                                <i class="fas fa-heart text-danger"> </i> 
                            {% else %}
                                <i class="far fa-heart"> </i>
                            {% endif %}
                            <i class="bi bi-check-circle"></i> 
                        </a> 
                        
                        <!-- Icono de mensaje -->
                        <a href="{% url "posts:detailPost" post.id %}">
                            <i class="fa fa-comment ml-2" style="color: #000; font-size: 30px;"></i>
                        </a> 
                    </p>
                    <strong class="ml-2">{{post.likes}} {% if post.likes > 1  %}likes{%else%}like{% endif %} </strong>
                    {% with username=post.user.username %}
    
                    {% for key, value in comment_counts.items %}
                        {% if username == key %}
                            {#{{ key }} :#} <strong class="ml-2">{{value}}</strong>
                            <strong>{% if value > 1  %}comentarios{%else%}comentario{% endif %}</strong>
                        {%endif%}
                    {% endfor %}
                    {% endwith %}
                    <a class="" style="color: #000" href="{% url "posts:detailPost" post.id %}">
                        ver mas...
                    </a> 
                    <p class="ml-2 mt-0 mb-2">
                        <strong>@{{post.user.username}}</strong>-<h7>{{post.title}}</h7> - <small>{{post.created}}</small>
                    </p>
                
                </div>
                
            {% endfor %}
        </div>
    </div>

    {% include "pagination.html" %}

{% endblock %}





