{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ user.username }} | Platzigram</title>
{% endblock %}

{% block container %}

    <div class="container mb-3" style="margin-top: 1em;">
        <div class="row">
            <div class="col-sm-4 d-flex justify-content-center">
                {% if user.profile.picture %}
                    <img src="{{ user.profile.picture.url }}" alt="{{ user.username}}" class="rounded-circle" width="150px" height="150px" />
                {% else %}
                    <img src="{% static 'img/default-profile.png' %}" alt="{{ user.username}}" class="rounded-circle" width="150px" height="150px" />
                {% endif %}
            </div>
            <div class="col-sm-8">
                <h2 style="font-weight: 100;">
                    @{{ user.username }}

                    {% if user == request.user %}
                        <a
                            href="{% url "users:update" %}"
                            class="ml-5 btn btn-sm btn-outline-info"
                        >
                            Edit profile
                        </a>
                    {% else %}
                        {% if following_update %}
                            <a
                                href="{% url "users:follow" user.username %}"
                                class="ml-5 btn btn-sm btn-primary btn-danger"
                            >
                                Unfollow
                            </a>
                        {% else %}
                            <a
                                href="{% url "users:follow" user.username %}"
                                class="ml-5 btn btn-sm btn-primary"
                            >
                                Follow
                            </a>
                        {% endif %}    
                    {% endif %}
                </h3>
                <div class="row mt-2" style="font-size: 1.2em">
                    <div class="col-sm-4">
                        <b>◉ {{ posts_count }}</b> posts
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "users:followers" user.username %}">
                            <b>◉ {{ followers_count }}</b> followers
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a href="{% url "users:following" user.username %}">
                            <b>◉ {{ following_count }}</b> following
                        </a>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        {% if  user.profile.website%}
                            <strong><a href="{{user.profile.website}}" target="_blank">◉ {{ user.profile.website }}</a></strong>   
                        {% endif %}
                        
                        <hr>      
                        <p>◉ {{ user.profile.biography }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    
    {#Apartado para mostrar los posts.#}
    <div class="container" id="user-posts">
        <div class="row mt-3">
            {% for post in posts %}
            <div class="col-sm-4 pt-3 pb-3  pr-3 pl-3 d-flex justify-content-center align-items-center">
                {#<a href="{% url 'users:detailPost' request.user.username post.id %}" class="border">#}
                <a href="{% url 'posts:detailPost' post.id %}" class="border">
                    <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="img-fluid"  style="width: 400px; height: 300px; object-fit: cover;"/>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}